# Конфигурация Базы Данных
DB_HOST=localhost
DB_PORT=5432
DB_NAME=lifeguide
DB_USER=postgres
DB_PASSWORD=123

# Данные приложения
APP_NAME="Ультимативный гайд на жизнь"
APP_VERSION=0.1.0
APP_ENV=development